{% extends 'bases/base.html' %}
{% load static %}

{% block co_delete_profile %}
    <div id="del-profile" class="del-profile">
        <div class="delete-text">
            <h3>Are you sure you want to delete your profile?</h3>
            <form class="del-profile-form" method="post" action="{% url 'delete profile' object.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="edit-btn del-btn">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
