{% extends 'bases/base.html' %}
{% load static %}

{% block co_profile_details %}
    <div class="profile-content">
        <div class="profile-pic">
            {% if object.picture %}
                <!-- the true order-->
                <!-- <img src="{{ object.picture.url }}" alt="Cover Image"> -->
                <!-- for presentation-->
            <img src="{% static "images/basic_pictures/base_profile_pictures.jpg" %}" alt="Cover Image">
            {% else %}
            <img src="{% static "images/basic_pictures/base_image_profile.png" %}" alt="Profile Image">
            {% endif %}
            <div class="actionBtn">
                <ul role="list" class="flex">
                    <li><a href="{% url 'delete profile' object.pk %}" class="remove">Delete</a></li>
                    <li><a href="{% url 'edit profile' object.pk %}#edit-profile" class="edit">Edit</a></li>
                </ul>
            </div>
        </div>
        <div class="profile-info">
            <p><i>{{ object.full_name }}</i></p>
            <div class="profile-email">
                <i class="fa-solid fa-paper-plane"></i>
                <p>{{ object.email }}</p>
            </div>
            <div class="profile-phone">
                <i class="fa-solid fa-mobile"></i>
                <p>{{ object.phone_number }}</p>
            </div>
            <div class="profile-gender">
                <i class="fa-solid fa-venus-mars"></i>
                <p>{{ object.gender }}</p>
            </div>
        </div>
    </div>
{% endblock %}
