{% extends 'bases/base.html' %}
{% load static %}

{% block co_base %}
    <div id="edit-password" class="pass-edit-content">
        <fieldset class="pass-fieldset">
            <legend class="pass-ed">Edit Password</legend>
            <form class="pass-ed-form" method="post" action="{% url 'edit password' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="pass-ed-option">
                    <button class="edit-btn pass-btn">Edit Password</button>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}