{% extends 'bases/base.html' %}
{% load static %}

{% block co_base %}
    <div class="pass-ed">
        <fieldset class="pass-edit">
            <legend>Edit Password</legend>
            <div class="pass-container">
                <form class="pass-form" method="post" action="{% url 'edit password' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                <button type="submit">Edit Password</button>
                </form>
            </div>
        </fieldset>
    </div>
    <script>document.querySelectorAll('.drop-enter a').forEach(a => a.style.color = '#486F38');</script>
{% endblock %}