{% extends "bases/base.html" %}
{% load static %}

{% block co_header %}
    <div class="header-section">
            <h1 class="header-section-h1">Welcome</h1>
            <h2 class="header-section-h2">to our information site</h2>
            <div>
                <p class="header-section-parag">If you want to discover or put your equestrian club on the Internet, try
                    this fully editable site. It has a professional looking about page that allows you to present your
                    riding club in the best possible light. You can talk about its history, specialty, club coaches and
                    feedback from all potential clients. You can find out about horse races or horse breeds.</p>
            </div>
        </div>
{% endblock %}