{% extends 'bases/base.html' %}
{% load static %}

{% block co_login %}
    <div class="box">
        <a href="/" ><i class="fa-solid fa-xmark"></i></a>
            <form class="form" method="post" action="{% url 'login' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="form-heading">Sign In</h2>
                <div class="input-box">
                    {{ form.username }}
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="input-box">
                    {{ form.password }}
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="#">Forgot Password</a>
                    <a href="{% url 'registration' %}">Sign up</a>
                </div>
                <button class="login-box-btn">Log in</button>
            </form>
        </div>
{% endblock %}
