section.info-section {
	background: white;
}

.back-ground-club-info {
    display: flex;
	max-width: 1000px;
	height: auto;
	margin: auto;
	padding-top: 160px;
	padding-bottom: 160px;
	background: white;
}

.main-div, .main-div-breed {
	height: 100%;
	background: whitesmoke;
	border-radius: 12px;
	display: block;
}

.main-div-breed {
    padding: 20px;
}

.main-div-breed img {
    width: auto;
    height: 200px;
    float: right;
    padding: 3px;
    border-radius: 12px 12px 5px 5px;
}

.main-div-breed>p:nth-child(2), .main-div-breed>p:nth-child(3) {
    margin-top: 0;
}

.main-div-breed > p > strong {
    font-size: 15px;
    color: #5e503f;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.first-div {
	width: 100%;
    height: 330px;
	display: inline-block;
}

.second-div, .third-div {
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 2rem 2rem 2rem;
}

.f-first-div {
	width: 70%;
	height: 100%;
	float: left;
	display: block;
	padding: 2rem 2rem 0 0;
	box-sizing: border-box;
}

.s-first-div {
	width: 30%;
	height: auto;
	float: right;
	box-sizing: border-box;
	padding: 3rem 2rem 0 0;
}

.f-second-div, .f-third-div  {
    width: 100%;
	height: 100%;
}

.f-second-div>p, .f-third-div>p  {
    text-align: justify;
    letter-spacing: 1px;
}

.f-second-div>img {
    width: 300px;
    height: 200px;
    float: right;
    margin: 12px 0 5px 16px;
    border-radius: 5px;
}

.f-third-div>img {
    width: 350px;
    height: 200px;
    float: left;
    margin: 12px 16px 5px 0;
    border-radius: 5px;
}

.ff-f-first-div {
	display: block;
	text-align: center;
	width: 50%;
	float: left;
}

.ss-f-first-div {
	width: 50%;
	float: right;
	text-align: center;
}

.ss-s-first-div {
    margin-top: 22px;
}

.club-logo {
    width: 100%;
    height: 200px;
}

.club-logo img {
	width: 100%;
    height: 100%;
    border-radius: 5px;
}

.club-name strong {
	font-size: 40px;
    color: #486F38;
}

.club-name p {
	margin: 0;
}

.club-category {
	text-align: center;
    padding-top: 2rem;
}

.club-category>img {
    border-radius: 20px;
    width: 70px;
    height: 84px;
    border: 1px solid darkgoldenrod;
    box-shadow: 2px 2px darkgoldenrod;
}


.club-phone, .club-address, .club-email {
    display: inline-block;
    margin-bottom: 1rem;
}

.club-phone>div, div.club-address>div, div.club-email>div {
    float: left;
}

.club-phone>p, div.club-address>p, div.club-email>p {
    float: right;
    margin-top: -6px;
    padding-left: 1rem;
}

.club-edit {
    text-align: right;
}

.club-edit>a {
    background: transparent;
    color: #486F38;
    text-decoration: none;
    text-transform: uppercase;
}

.club-edit>a:hover {
    text-decoration-line: underline;
    text-decoration-color: #486F38;
    text-decoration-thickness: 2px;
}

h4 {
    margin: auto;
    border-bottom: 2px solid;
    width: 85px;
    text-transform: uppercase;
    color: #486F38;
}

.club-trainer {
    text-align: center;
    margin: 1rem;
}

.club-trainer>div>a {
    text-decoration: none;
    text-transform: uppercase;
    color: darkgoldenrod;
}

.club-trainer>div>a:hover {
    color: #486F38;
}