.box,
.reg-box {
    position: absolute;
    top: 230px;
    left: 300px;
    width: 380px;
    height: 420px;
    background: var(--form-backrgb);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}

.reg-box {
    width: 760px;
    height: 680px;
    left: 195px;
}

.fa-solid.fa-xmark {
    position: absolute;
    color: var(--user-backrgb);
    top: 12px;
    right: 16px;
    z-index: 12;
    cursor: pointer;
}

.box::before {
    content: '';
    position: absolute;
    top: -30%;
    left: -50%;
    width: 380px;
    height: 300px;
    background: linear-gradient(0deg, rgb(84, 233, 84), rgb(84, 233, 84), rgb(84, 233, 84));
    transform-origin: bottom right;
    animation: rotationBox 6s linear infinite;
}

.reg-box::before {
    content: '';
    position: absolute;
    top: 3%;
    left: -25%;
    width: 550px;
    height: 300px;
    background: linear-gradient(0deg, rgb(84, 233, 84), rgb(84, 233, 84), rgb(84, 233, 84));
    transform-origin: bottom right;
    animation: rotationBox 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    right: -50%;
    bottom: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, rgb(84, 233, 84), rgb(84, 233, 84));
    transform-origin: top left;
    animation: rotationBox 3s linear infinite;
}

.reg-box::after {
    content: '';
    position: absolute;
    right: -20%;
    bottom: 9%;
    width: 550px;
    height: 300px;
    background: linear-gradient(0deg, transparent, rgb(84, 233, 84), rgb(84, 233, 84));
    transform-origin: top left;
    animation: rotationBox 3s linear infinite;
}



@keyframes rotationBox {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}

}

.form,
.reg-form {
    position: absolute;
    background: var(--form-backrgb);
    border-radius: 8px;
    inset: 2px;
    z-index: 10;
    padding: 40px 25px;
}

.reg-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.form-heading{
    text-align: center;
    color: var(--forms);
    font-weight: 400;
    letter-spacing: 1px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 45px;
}

.input-box .errorlist {
    list-style: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    top: 46px;
    left: 0;
    color: var(--access-tags);
}

.form .input-box:not(:nth-child(2)) {
    margin-top: 25px;
}

.input-box .input[type=text],
.input-box input[type=password],
.input-box .input[type=email],
.input-box .input[type=file] {
    position: relative;
    width: 100%;
    padding: 10px 5px 5px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 10;
}

.input-box .input[type=file] {
    cursor: pointer;
}

.input-box .input[type=file]:hover ~ .span-profile {
    color: var(--forms);
}

.input-box .input[type=file]:hover ~ .span-club-logo {
    color: var(--forms);
}

.input-box span {
    position: absolute;
    left: 0;
    color: var(--user-backrgb);
    padding: 10px 5px 5px;
    font-size: 18px;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
    z-index: 10;
}

.input-box .input:valid ~ span,
.input-box .input:focus ~ span,
.input-box input[type=password]:valid ~ span,
.input-box input[type=password]:focus ~ span {
    color: var(--forms);
    font-size: 12px;
    transform: translateY(-30px);
}

.input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    pointer-events: none;
    background: var(--forms);
    border-radius: 4px;
    transition: 0.5s;
}

.input-box .show-picture {
    text-align: center;
    padding-top: 4px;
}

.input-box .fa-image {
    width: fit-content;
    height: auto;
    position: absolute;
    top: 12px;
    left: 6px;
    background: transparent;
    z-index: 1;
}

.input-box .input:valid ~ i,
.input-box .input:focus ~ i,
.input-box input[type=password]:valid ~ i,
.input-box input[type=password]:focus ~ i {
    height: 36px;
}

.phone::placeholder {
    color: var(--form-backrgb);
}



.gen-selector {
    position: absolute;
    top: 4px;
    left: 180px;
    background-color: var(--form-backrgb);
    border: none;
    color: var(--forms);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    margin: 12px 0;
    color: var(--user-backrgb);
}

.links a:hover {
    color: rgb(84, 233, 84);
}

.links a:nth-child(2) {
    color: rgb(84, 233, 84);
}

.login-box-btn,
.reg-box-btn {
    margin: 30px 0;
    width: 100%;
    letter-spacing: 1px;
    color: var(--forms);
    background: var(--form-backrgb);
    border: 2px solid var(--forms);
    border-radius: 4px;
    cursor: pointer;
}

.reg-box-btn {
    width: 280px;
}

.login-box-btn:hover,
.reg-box-btn:hover {
    color: rgb(90, 88, 88);
    background: var(--forms);
    box-shadow: 0 0 18px var(--forms);
}

/* error message */

.err-login.err-message {
    display: inline-block;
    position: relative;
    top: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--forms);
    background-color: var(--form-backrgb);
    padding: 6px 0;
    border-radius: 8px;
}