{% extends 'bases/base.html' %}
{% load static %}

{% block co_base %}
    <div class="cl-pic">
        <img src="{% static "images/basic_pictures/club-searching.jpg" %}" alt="Horse Riding">
        <div class="cl-text">
            <h1 class="disc-clubs" >Discover your club</h1>
            <div class="search-club" style="opacity: 1"><i class="gg-search"></i></div>
            <div class="close-search-club" style="opacity: 0"><i class='fas fa-window-close'></i></div>
            <div class="form-content" style="display:none">
                <form class="search-form" method="get" action="{% url "search club" %}">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Write the name of the club">
                    <input type="submit" value="Search...">
                </form>
            </div>
        </div>
    </div>
    <div id="clubs-center">
        <div class="list">
        {% if object_list %}
            {% for club in object_list %}
                <article id="catalogPage">
                    <div class="card-box">
                        <!-- for the presentation of the site -->
                        {% if club.pk == 1 %}
                        <img src="{% static "images/basic_pictures/club_eclipse.png" %}" alt="Club Image">
                        {% else %}
                        <img src="{% static "images/basic_pictures/moon_legacy.png" %}" alt="Club Image">
                        {% endif %}
{#                        <!-- the true order <img src="{{ club.club_logo.url }}" alt="Club Image"> -->#}
                        <div class="text-center">
                            <p class="name" ><strong>{{ club.club_name }}</strong></p>
                            <p class="description">{{ club.description }}</p>
                            <p class="awards">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd700" class="bi bi-award-fill" viewBox="0 0 16 16">
                                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                                </svg>
                                <i>{{ club.award_gold }}</i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#bfc1c2" class="bi bi-award-fill" viewBox="0 0 16 16">
                                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                                </svg>
                                <i>{{ club.award_silver }}</i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#cdab7e" class="bi bi-award-fill" viewBox="0 0 16 16">
                                    <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                                </svg>
                                <i>{{ club.award_bronze }}</i>
                            </p>
                        </div>
                        <div class="btn-group">
                            <p class="rating" >Rating: {{ club.rating }}
                                {% if request.user.is_authenticated %}
                                    <a class="likes" href="{% url 'like club' club.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#EF7D00" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                        </svg>
                                    </a>
                                {% endif %}
                            </p>
                            <div class="alert-rate" style="display: none">
                            <p>You can rate only once</p>
                        </div>
                            <a href="{% url 'club info' club.pk %}"><strong>More Info</strong></a>
                        </div>
                    </div>
                </article>
                {% endfor %}
        {% else %}
            <h2>No results found!</h2>
        {% endif %}
        </div>
    </div>
    <script>
        document.querySelectorAll('.likes').forEach(e => e.addEventListener('mouseover', (ev) => {
            ev.currentTarget.parentNode.parentNode.querySelector('.alert-rate').style.display = 'block';
        }))
        document.querySelectorAll('.likes').forEach(e => e.addEventListener('mouseout', (ev) => {
            ev.currentTarget.parentNode.parentNode.querySelector('.alert-rate').style.display = 'none';
        }))

        document.querySelector('.search-club').addEventListener('click', loadSearch);
        document.querySelector('.close-search-club').addEventListener('click', loadSearch);
        document.querySelector('.search-club').addEventListener('mouseover', (e) => {
            e.currentTarget.style.background = 'transparent';
        });
        document.querySelector('.search-club').addEventListener('mouseout', (e) => {
            e.currentTarget.style.background = 'white';
        });

        function loadSearch() {
            let open_search = document.querySelector('.search-club');
            let close_search = document.querySelector('.close-search-club');
            let text_h1 = document.querySelector('.disc-clubs');
            let div_form = document.querySelector('.form-content');

            if(div_form.style.display === 'none') {
                text_h1.style.opacity = '0';
                open_search.style.opacity = '0';
                close_search.style.opacity = '1';
                div_form.style.display = 'block';
            }else {
                text_h1.style.opacity = '1';
                open_search.style.opacity = '1';
                close_search.style.opacity = '0';
                div_form.style.display = 'none';
            }
        }
    </script>
{% endblock %}