{% extends 'bases/base.html' %}
{% load static %}

{% block co_edit_club %}
    <div id="edit-club" class="club-edit-content">
        <fieldset>
            <legend class="cl-ed">Edit Club</legend>
            <a href="/" ><i class="fa-solid fa-xmark fa-club"></i></a>
            <form class="cl-ed-form" method="post" action="{% url 'edit club' object.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="cl-ed-option">
                    <a href="#" class="edit-a">Edit Trainers</a>
                    <button class="edit-btn">Edit</button>
                </div>
            </form>
        </fieldset>
    </div>

{% endblock %}