{% extends 'bases/base.html' %}

{% block co_base %}
    <div class="body-f">
        <h1 class="reg-club-section">Registration Club</h1>
        <div class="form">
            <form class="reg-club-form" method="post" action="{% url 'create club' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div id="browse"><p>Browse logo...</p></div>
                <input type="submit" value="Registration Club" />
            </form>
        </div>
    </div>
    <script>
    document.querySelectorAll('.drop-enter a').forEach(a => a.style.color = '#486F38');
    let p_tag = document.querySelector('#browse p');
    document.querySelector('input[type=file]').addEventListener("change", () => {
        p_tag.textContent = document.querySelector('input[type=file]').files[0].name;
    })
    </script>
{% endblock %}
