{% extends 'bases/base.html' %}

{% block co_club_registration %}
     <div id="club-registration" class="club-reg">
        <a href="/" ><i class="fa-solid fa-xmark fa-club"></i></a>
            <form class="club-reg-form" method="post" action="{% url 'create club' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="club-form-heading">Club Registration</h2>
                <div class="input-club">
                    {{ form.club_name }}
                    {{ form.errors.club_name }}
                    <span>Club Name</span>
                </div>
                <div class="input-club">
                    {{ form.owner }}
                    {{ form.errors.owner }}
                    <span>Owner Name</span>
                </div>
                <div class="input-club">
                    {{ form.email_club }}
                    <span>Club Email</span>
                </div>
                <div class="input-club">
                    {{ form.address }}
                    <span>Club Address</span>
                </div>
                <div class="input-club">
                    {{ form.club_phone_number }}
                    {{ form.errors.club_phone_number }}
                    <span>Club Phone Number</span>
                </div>
                <div class="input-club">
                    {{ form.description }}
                    <span>Description</span>
                </div>
                <div class="input-club">
                    {{ form.club_logo }}
                    <i class="fa-regular fa-image"></i>
                    <p class="show-logo"></p>
                    <span class="span-club-logo">Club Logo</span>
                </div>
                <button class="club-reg-btn">Registration</button>
            </form>
        </div>
    <script>
    let p_tag = document.querySelector('.show-logo');
    document.querySelector('input[type=file]').addEventListener("change", () => {
        p_tag.textContent = document.querySelector('input[type=file]').files[0].name;
    })
    </script>
{% endblock %}
