{% extends 'bases/base.html' %}

{% block co_payment %}
    <div class="body-payment">
        <h1 class="pay-heading">Payment</h1>
        <div class="div-form-pay">
            <form class="pay-form" method="get" action="{% url 'create club' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="p-card" id="p-card-l">card number</label>
                <input id="p-card-i" type="text" name="text-card">
                <label for="o-name" id="o-name-l">name on card</label>
                <input id="o-name-i" type="text" name="text-name">
                <label for="ex-date" id="ex-date-l">expiry date</label>
                <input id="ex-date-i" type="text" name="text-date" disabled placeholder="mm&nbsp;&nbsp;/&nbsp;&nbsp;yy">
                <label for="cvv-card" id="cvv-l">cvv/cvc2</label>
                <input id="cvv-i" type="text" name="cvv-card" disabled>
                <div class="cards-options">
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                </div>
                <input type="submit" value="Go To Club Registration" />
            </form>
        </div>
    </div>
{% endblock %}