{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/basic_pictures/favicon-32x32.png" %}">
    <title>ERROR 404</title>
</head>
<body class="body">
    <section class="page-error-404">
        <div class="cube">
            <div class="up"></div>
            <div>
                <span style="--i:0">error 404</span>
                <span style="--i:1">error 404</span>
                <span style="--i:2">error 404</span>
                <span style="--i:3">error 404</span>
            </div>
        </div>
        <div class="message">
            <p><span>Sorry</span>, page not found!</p>
            <p>We`ve looked practically everywhere.<br>Double-check the URL, go back, or go to the <a href="{% url 'home page' %}">Home</a> page.</p>
        </div>
    </section>
</body>
</html>